* {
  box-sizing: border-box;
}

body {
	font-family: 'Noto Serif', serif;
	font-size:20px;
	color:#FFFFFF;
	background-image:url(images/hero.jpg);
	background-color:rgba(31,36,33,0.5);
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	border:5px solid white;
}

/* Style the header */
.header {
  grid-area: header;
  background-color:rgba(31,36,33,0.5);
  color:#FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  border:5px solid white;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle right' 
	'left1 left1 left1 right1 right1 right1'
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left1{
	grid-area: left1;
	height: 400px; /* or any value */
    overflow-y: auto;
	background-color:rgba(31,36,33,0.5);
	color:white;
}

.right1{
	grid-area: right1;
	height: 400px; /* or any value */
    overflow-y: auto;
	background-color:rgba(31,36,33,0.5);
	color:white;
}

.btn
{
border:1px solid black;
padding:20px 40px;
color:#7c7a7a !important;
text-decoration:none;
margin-right:5px;
font-size:19px;
text-transform:uppercase;
}

.btn-one
{
background-color:#000000;
font-family:"Roboto", sans-serif;
}

.btn-two
{
background-color:black;
color:#6237A0;
font-family:"Roboto", sans-sarif;
}

.btn-three
{
background-color:black;
color:#6237A0;
font-family:"Roboto", sans-sarif;
}


.btn-one:hover
{
color:black;
background-color:white;
transition: all 0.5s ease-in;
}

.btn-two:hover
{
background-color:white;
color:black;
transition: all 0.5s ease-in;
}

.btn-three:hover
{
background-color:white;
color:black;
transition: all 0.5s ease-in;
}


.left,
.middle,
.right {
  padding: 10px;
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color:rgba(31,36,33,0.5);
  padding: 10px;
  text-align: center;
  border:5px solid white;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other 
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}*/